.DS_Store
**/*.swp
.project
run/
autotest/
dist/
volderyarn/
.settings/org.eclipse.buildship.core.prefs
.classpath
.vscode/launch.json
bin/launch/META-INF/MANIFEST.MF

# Gradle
build/
.gradle/
classes/
*.class

/out

# IntelliJ Files
.idea/
*.iml
*.ipr
*.iws
/logs/

# Copyright Files
!/.idea/copyright/Baritone.xml
!/.idea/copyright/profiles_settings.xml
bin/launch/fabric.mod.json
.vscode/launch.json
bin/launch/META-INF/mods.toml
bin/launch/pack.mcmeta
bin/launch/mixins.baritone.json
*.prefs
.vscode/launch.json
