.DS_Store
**/*.swp
.project
run/
autotest/
dist/
volderyarn/
.settings/org.eclipse.buildship.core.prefs
# Gradle
build/
.gradle/
classes/
*.class

/out

# IntelliJ Files
.idea/
*.iml
*.ipr
*.iws
/logs/

# Copyright Files
!/.idea/copyright/Baritone.xml
!/.idea/copyright/profiles_settings.xml
